* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(180deg, #0e0374 0%, #4634e7 50%);
    color: #fcfcfc;
    line-height: 1.6;
}

.head header {
    width: 100%;
    background: linear-gradient(135deg, #4515e3 0%, #14059c 100%);
    color: #faf5f5;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 500;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    border-radius: 4rem;
    display: flex;
    padding: 1rem 1rem;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #faf5f5;
    border-radius: 4px;
    transition: all 0.3s ease;
    padding: 0.6rem 1rem; 
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}

nav a:hover, nav a.active {
    background-color: #512be8;  
    color: white;
}

.container {
    max-width: 1200px;
    margin: 10rem auto;
    padding: 0 1rem;
}

.material, .page {
    margin-top: 2rem;
    display: block;
    background-color: #2f07b4;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #faf5f5;
}

h2 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
    color: #fefeff;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 0.5rem;
}

h3 {
    color: #fefeff;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

li{
    margin-left: 1.5rem;
}

.materi-item {
    background-color: #1d035f;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;    
    display: flex;
    flex-direction: column;
}

.materi-item h3 {
    color: #27f0ad;
    margin-bottom: 0.5rem;
}

.materi-item p {
    margin-top: 1rem;
}

.materi-item img {
    max-width: 300px;
    border-radius: 1rem;
    justify-content: center;
    margin-left: 30%;
}

.materi-item input {
    width: 50px;
    border: none;
    border-radius: 5px;
    justify-items: center;
    font-family: "Poppins";
    font-size: medium;
}

.materi-item .button-area {
    margin-top: 2rem;
}

.materi-item button {
    font-size: 0.9rem;
    width: 7.5rem;
    padding: 0.6rem;
    border: none;
    border-radius: 8px;
    background-color: #27f0ad;
    color: #000000;
    text-align: center;
    margin: 0.6rem;
    transition: all 0.4s ease;
}

.materi-item button:hover {
    background-color: #6ffff5;
    box-shadow: 0px 0px 2px 4px #6ffff5;
}

.materi-item table {
    margin-left: 80px;
    margin-top: 2rem;
    width: 900px;
    color: #f0f0f0;
    border: 1;
    border-color: #faf5f5;
    border-style: inset;
    text-align: center;
}

.materi-item tr {
    background-color: #000000;
}

.materi-item iframe {
    width: 400px;
    height: 225px;
}

.kalkulator-container {
    background-color: #1d035f;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.kalkulator-container h2 {
    color: #fefeff;
    margin-bottom: 1.5rem;
}

ul {
    color: #fefeff;
}

.placeholder {
    color: #888;
    font-style: italic;
    margin: 2rem 0;
}

footer {
    text-align: center;
    padding: 1.4rem;
    background-color: #333;
    color: white;
    margin-top: 2rem;
}

.footer {
    padding-top: 1rem;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 0.5rem 0;
    }
    
    .container {
        margin: 1rem auto;
    }
    
    .page {
        padding: 1rem;
    }

    .kalkulator-container{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .algorithm-comparison {
        flex-direction: column;
    }
}